* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

img {
    width: 100%;
}

body {
    font-family: "Poppins", sans-serif;
}

.max-width {
    max-width: 1200px;
    margin: 0 auto;
}


.navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 87px;
    margin-bottom: 50px;

}

.influencer-product h3 {
    font-size: 1.5rem;
    font-weight: bold;

}

.nav-links {
    display: flex;
    gap: 34px;

}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    font-weight: 600;
    color: #3A3A3A;
}


/* banner related styles */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.banner-info {
    max-width: 582px;
    margin: 0;
}

.banner-info h1 {
    font-weight: bold;
    font-size: 3.25rem;
    color: #3A3A3A;
    line-height: 70px;
    margin-bottom: 16px;
}

.banner-info p {
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 16px;
}

.btn-d {
    font-weight: bold;
    font-size: 1rem;
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}

.banner-image {
    background: url(../images/Circle\ design.svg) no-repeat center;
    width: 100%;
    max-width: 550px;

    /* position: relative; */
    background-size: contain;

    margin: 0 auto;



}

.main-image {
    width: 100%;
}

.sponsors {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 60px;
    padding: 36px 62px;
    max-width: 1110px;
    border-top: 1px solid rgba(150, 142, 142, 0.377);
    border-bottom: 1px solid rgba(150, 142, 142, 0.377);
    margin-bottom: 100px;
}

/* main styles */

.container{
    max-width: 1050px;
    margin: 0 auto;
}

.cart-heading{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 70px;
    color: #3A3A3A;
     text-align: center;

}
.cart-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.cart{
    padding:17px 15px ;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 40px 0px  rgba(0, 0, 0, 0.15);
    text-align: left;
}
.cart img{
    border-radius: 5px;
    margin-bottom: 16px;

}

.title{
    font-size: 1.75rem;
    font-weight: 500;
    color:#18191F;
    line-height: 40px
}
.price{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 150%;
    color: #000000;
}
.cart p{
    font-size: .9rem;
    font-weight: bold;
    line-height: 143%;
    color: #787885;
}
.see-more{
    display: flex;
    justify-content: flex-end;
}
.container button{
    font-size: 1rem;
    font-weight: bold;
    color: #E02C6D;
    border: none;
    margin-top: 50px;
}


@media screen and (max-width:576px) {
    .navbar {
        flex-direction: column;
    }

    .banner {
        flex-direction: column;
        text-align: center;

    }

    .banner-image {
        order: -1;
        margin: 0 auto 14px auto;


    }

    .banner-image img {
        width: 65%;
    }

    .sponsors {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
    }

    .sponsors img {
        max-width: 80px;
    }
    /* main  */
    .cart-container{
        grid-template-columns: repeat(1,1fr);

    }

}